<!-- @format -->
<%- include( './partials/header') %>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>

    <% blogPosts.forEach((post)=>{ %>
        <% let title = post.title; %>
            <div>
                <h2>
                    <%= title %>
                </h2>
                <p>

                    <% let content = post.body %>
                        <% if ( content.length > 100){ %>
                            <% let length = 100 %>
                                <% let ending = "..." %>
                                    <% let contentShort = content.substring(0,length) + ending %>
                                        <% let postLink = "/posts/" + post._id %>
                                            <%console.log(postLink)%>
                                                <%= contentShort  %>
                                                    <a href="<%=postLink%>">Read More</a>
                </p>

            </div>
            <%  } else if ( content.length < 100) { %>
                <%= content  %>
                    </p>
                    </div>
                    <%  }}) %>

                        <%- include('./partials/footer') %>